* {
	padding: 0;
	margin: 0;
	border: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Montserrat',
		sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

:focus,
:active {
	outline: none;
}

*,
*:before,
*:after {
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus,
a:active {
	outline: none;
}

/*-------------------------------------*/
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #8e8e8e;
	border-radius: 20px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::selection {
	background-color: #54b3d64f;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
	margin-bottom: 20vh;
}

.container {
	max-width: 1004px;
	padding: 0 20px;
	margin: 0 auto;

	@media(max-width: 768px) {
		padding: 0 10px;
	}
}

.header {
	position: relative;
	z-index: 4;
	width: 100%;
	height: 60px;
	align-items: center;
	display: flex;
	justify-content: space-between;

	&__img-icon {
		width: 50px;
		height: 50px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: inherit;
		padding: 0 40px;
		width: 100%;

		@media(max-width: 768px) {
			padding: 0 10px;
		}
	}

	&__logo {
		max-width: 160px;

	}

	&__logo-img {
		width: 100%;
	}

	&__navigation {}

}

.navigation {

	&__btn {
		position: relative;
		z-index: 100;
		display: none;

		@media(max-width: 768px) {
			display: block;
		}
	}

	display: flex;
	align-items: center;

	@media(max-width: 768px) {
		transition: .1s ease;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background-color: #8e8e8e;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		opacity: 0;
		pointer-events: none;
		transition: .3s ease-in-out;
		transition-property: opacity;

		&[data-menu="open"] {
			opacity: 1;
			pointer-events: auto;
		}

		text-transform: uppercase;
	}


	&__link {
		&:not(:last-child) {
			margin-right: 10px;

			@media(max-width: 768px) {
				margin-right: 0px;
			}
		}


		font-size: 16px;
		font-weight: 700;
		background-image: linear-gradient(to right,
			#54b3d6,
			#54b3d6 50%,
			#fff 50%);
		background-size: 200% 100%;
		background-position: -100%;
		display: inline-block;
		padding: 5px 0;
		position: relative;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: all 0.3s ease-in-out;

		@media(min-width: 769px) {

			&:before {
				content: '';
				background: #54b3d6;
				display: block;
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 0;
				height: 1.5px;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				background-position: 0;
			}

			&:hover::before {
				width: 100%;
			}
		}
	}

}

.hero {

	color: #fff;

	&::after {
		content: '';
		display: block;
		background-color: #000;
		opacity: .4;
		width: 100%;
		height: 90vh;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}

	&__background-video {
		object-fit: cover;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;

	}

	&__container {
		position: relative;
		z-index: 2;
		height: 70vh;
		display: flex;
		align-items: center;
	}

	&__box {
		width: 100%;
	}

	&__subtitle {
		display: block;
		width: 100%;
		text-align: end;
		font-size: 32px;
		font-weight: 500;
		margin-top: 20px;

		@media(max-width: 920px) {
			font-size: 24px;
		}

		@media(max-width: 768px) {
			font-size: 20px;
		}

		@media(max-width: 576px) {
			font-size: 18px;
		}
	}

	&__title {
		font-size: 54px;
		font-weight: 700;
		width: 100%;
		display: block;
		text-align: start;

		@media(max-width: 920px) {
			font-size: 40px;
			font-weight: 700;
		}

		@media(max-width: 768px) {
			font-size: 36px;
			font-weight: 600;
		}

		@media(max-width: 576px) {
			font-size: 32px;
			font-weight: 600;
		}
	}

	&__link {
		margin-top: 40px;
		display: flex;
		justify-content: center;

		a {
			text-transform: capitalize;
			text-decoration: underline;
			font-size: 16px;
			color: #fff;

			&:hover {

				text-decoration: none;
			}

		}
	}
}





.portfolio {
	margin-top: 20vh;

	&__main-title {
		text-align: center;
		font-size: 34px;
		text-decoration: underline;

	}

	&__links {
		display: flex;
		align-items: center;
		justify-content: center;
		inset: auto auto 10px 30px;
		left: 50%;
		transform: translateX(-50%);
		transition: all 0.1s ease;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 40px;

		&:last-child {
			position: relative;
			margin-top: 10px;
			gap: 10px;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			justify-content: center;
		}
	}

	&__btn {
		padding: 5px 10px;
		border-radius: 5px;
		background-color: #000;
		color: #fff;
		text-transform: capitalize;

		&.active {
			background-color: #54b3d6;
		}

		&:not(:last-child) {
			margin-right: 5px;
		}
	}

	&__card {
		color: #fff;

		background-color: #000;
		background-blend-mode: multiply;
		width: 100%;
		height: 16rem;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

		&:hover h2 {
			inset: auto auto 78% 30px;
			transition: inset 0.3s ease-out;
		}

		&:hover p,
		&:hover div {
			opacity: 1;
			transition: opacity 0.5s 0.1s ease-in;
		}

		&:hover img {
			opacity: 0.9;
			transition: opacity 0.3s ease-in;
		}
	}

	&__img {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.5;
		transition: opacity 0.2s ease-out;
		pointer-events: none;
	}

	&__img-icon {
		width: 50px;
		height: 50px;
	}

	&__img-link {
		width: 30px;
		height: 30px;

	}

	&__card-content {}

	&__title {
		position: absolute;
		inset: auto auto 10px 30px;
		margin: 0;
		transition: inset 0.3s 0.3s ease-out;
		font-weight: 500;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		width: 80%;
		align-items: center;
		text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	}

	&__subtitle {
		inset: auto auto 50px 30px;
		font-size: 12px;
		font-weight: 400;
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	}

	&__link {

		&:not(:first-child) {
			svg {
				margin-top: 5px;
			}

		}

		&:not(:last-child) {
			margin-right: 10px;
		}

		color: #54b3d6;
		text-decoration: none;
	}



	&__subtitle,
	&__links {
		position: absolute;
		opacity: 0;
		max-width: 80%;
		transition: opacity 0.3s ease-out;
	}
}


.contacts {

	margin-top: 20vh;

	&__container {
		@media(max-width: 576px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__title {
		text-align: center;
		font-size: 34px;
		text-decoration: underline;
	}

	&__subtitle {
		display: block;
		text-align: center;
		font-size: 18px;
		margin-top: 10px;
	}

	&__box {
		margin-top: 40px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;

		@media(max-width: 576px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			margin: 0 auto;
		}

	}

	&__item {
		margin-top: 20px;

		&:not(:last-child) {
			@media(max-width: 576px) {
				margin-right: 0;
			}

			margin-right: 15px;
		}

		display: flex;
		align-items: center;

		div {
			margin-left: 10px;
		}

	}

	&__img {
		width: 30px;
		height: 30px;
		filter: drop-shadow(0px 0px 10px rgba(42, 228, 222, 0.5));
	}

	&__item-title {
		font-weight: 600;
	}

	&__item-subtitle {
		text-decoration: underline;
		display: inline-block;
		margin-top: 5px;
		color: #454545;
	}
}

.footer {

	height: 100px;
	background-color: #454545;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

	}

	&__copy {
		color: #fff;

	}

	&__socials {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		color: #fff;

		&:first-child {
			margin-bottom: -5px;
		}
	}

	&__img-link {
		width: 30px;
		height: 30px;
	}
}

.about {

	margin-top: 25vh;

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		margin-top: 40px;
		gap: 15px;
	}

	&__title {
		display: block;
		text-align: center;
		font-size: 32px;
		text-transform: capitalize;
		text-decoration: underline;
	}

	&__box {
		width: 100%;
		display: flex;
		align-items: center;

		&:last-child {
			flex-direction: column;
			align-items: start;
			justify-content: center;
		}
	}

	&__img {
		width: 100%;
		height: 400px;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	&__text {
		&:not(:first-child) {
			margin-top: 20px;
		}

		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
	}

	&__skill-box {
		margin-top: 30px;
		display: flex;
		width: 100%;
		justify-content: space-evenly;
	}

	&__img-icon {
		filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.5));

		&:last-child {
			width: 36px;
			height: 36px;
		}

		width: 40px;
		height: 40px;
	}
}